<app-nav></app-nav>
<hr/>
<div *ngFor="let article of articles">
  <a href="{{article.url}}" target="_blank">{{article.title}}</a>
  <app-likes></app-likes>
</div>

<button (click)="showForm()">Add Article</button>

<div [hidden]="isStatus">
    <textarea [value]="article.title" cols="70" id="article-title"></textarea>
    <textarea [value]="article.url" cols="70" id="article-url"></textarea>
  <button class="btn btn-primary" (click)="addArticle()">Add</button>

</div>
<app-footer></app-footer>



